/*font-family: 'Roboto Condensed', sans-serif;*/
html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    letter-spacing: 3px;
}

.container {
    width: 80%;
}

.col-md-7 {
    padding-right: 0;
    padding-left: 0;
}

.jumbotron {
    height: 90vh;
    background-image: url(https://i.postimg.cc/CLzMfDTv/architect-brush-coffee-5305.jpg);
    background-size: cover;
    margin-bottom: 20px;
    color: black;

}

.welcome {
    text-align: center;
}

.btn {
    color: white;
    background-color: #ff5722;
    border-color: #FF5722;
    font-size: 1.50rem;
}

.display-4 {
    text-transform: uppercase;
    font-weight: 700;
}

.lead {
    font-style: italic;
    font-size: 2.75rem;
}

.products {

    padding: 5% 15%;

}

.card-body,
.property,
.box {
    text-align: center;
}


.orange {
    color: #FF5722;
    font-size: 2em;
}

.footer {
    padding: 0;
}